/* App list styles */
.app-list {
  display: table;
  border-collapse: collapse;
  width: 100%;

  > div[class*='-row'] {
    display: table-row; height: 40px; line-height: 40px;

    &.header-row { font-weight: 600; border-bottom: Solid 2px #f6bb42; }

    > div {
      display: table-cell;

      &.actions { width: 150px !important; }
    }
  }
}

$app-details-menu-width-desktop: 200px;
$app-details-menu-width-mobile: 150px;

.app-details-container {
  display: table;
  table-layout: fixed;
  width: 100%;

  > div { display: table-cell; }

  > div.app-details-menu {

    //min-width: $app-details-menu-width-mobile;

    > div:last-child { padding-left: 0; }

    &.affix { 
      margin-top: 50px; 
      padding-top: 15px; 

      +div {
        margin-left: 25%;
        
        > .panel { margin-top: 0; }
      }
    }
  }

  > div.app-details-content {

    > div {
      padding-top: 65px;
      margin-top: -65px;
    }
  }
}

@media (min-width: 768px) {
  .app-details-container {
    > div.app-details-menu {
      //min-width: $app-details-menu-width-desktop;

      
    }

    > div {
      .panel-body { min-height: 200px; }
    }
  }
}


