$primary-text-color: rgb(102, 102, 102);


$primary-border-color: #e5e5e5;


$header-bg-color: #FFF;
$main-bg-color: #f5f5f5;
$sidebar-bg-color: #30363e;


$sidebar-nav-active-border-color: #48c9a9;
$sidebar-nav-active-bg-color: #333;
$sidebar-nav-active-text-color: #FFF;