/* Form */
.btn.btn-option {
  border: Solid 1px #ccc;
  margin-right: 20px;
  border-radius: 4px !important;
  padding: 25px 0px;
  width: 80px;

  &:hover { background-color: #efefef; }
}

.form-control {
  &.inline {
    display: inline-block;
    width: auto;
  }
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
