<div class="panel panel-default">
	<div class="panel-heading clearfix">
		<h4 class="pull-left">Basic App Settings</h4>
		<div edit-mode-panel 
			edit-enabled="editModes.basicSettings" 
			toggle="toggleEditMode('basicSettings')" 
			save="saveApp('basicSettings')" 
			class="pull-right">
		</div>
	</div>
	<div class="panel-body">
		<div class="form-group">
			<label for="appName">App name</label>
			<span data-ng-hide="editModes.basicSettings" data-ng-cloak>
			  	{{ currentApp.appName }}
			</span>
		  	<span data-ng-show="editModes.basicSettings" data-ng-cloak>
				<input type="text" id="appName" name="appName" class="form-control inline" data-ng-model="currentApp.appName" required>
			</span>
		</div>
		<div class="form-group">
			<label for="environment">Choose environment</label>
		    <span data-ng-hide="editModes.basicSettings" data-ng-cloak>
			  	{{ currentApp.environment }}
			</span>
			<br/>
		    <div class="btn-group" data-ng-show="editModes.basicSettings" data-ng-cloak>
		        <label class="btn btn-option" name="environment" ng-model="currentApp.environment" uib-btn-radio="'LAMP'" required>LAMP</label>
		        <label class="btn btn-option" name="environment" ng-model="currentApp.environment" uib-btn-radio="'NGINX'" required>NGINX</label>
		        <label class="btn btn-option" name="environment" ng-model="currentApp.environment" uib-btn-radio="'ASPNET'" required>ASP.NET</label>
		    </div>
		</div>
	</div>
</div>