<div class="panel panel-default">
	<div class="panel-heading clearfix">
		<h4 class="pull-left">High Availability Settings</h4>
		<div edit-mode-panel 
			edit-enabled="editModes.availability" 
			toggle="toggleEditMode('availability')" 
			save="saveApp('availability')" 
			class="pull-right">
		</div>
	</div>
	<div class="panel-body">
		<label for="loadBalancing">Load Balancing</label>
		<span data-ng-hide="editModes.availability" data-ng-cloak>
		  	{{ currentApp.highAvailability.loadBalancingEnabled || 'Not selected' }}
		</span>	
		<div data-ng-show="editModes.availability" data-ng-cloak>
			<div class="btn-group">
		        <label class="btn btn-primary" name="environment" ng-model="currentApp.highAvailability.loadBalancingEnabled" uib-btn-radio="'on'" required>On</label>
		        <label class="btn btn-primary" name="environment" ng-model="currentApp.highAvailability.loadBalancingEnabled" uib-btn-radio="'off'" required>Off</label>
		    </div>
		</div>
		<br/>
		<label for="loadBalancing">Autoscaling</label>
		<span data-ng-hide="editModes.availability" data-ng-cloak>
		  	{{ currentApp.highAvailability.autoScalingEnabled || 'Not selected' }}
		</span>	
		<div data-ng-show="editModes.availability" data-ng-cloak>
			<div class="btn-group">
		        <label class="btn btn-primary" name="environment" ng-model="currentApp.highAvailability.autoScalingEnabled" uib-btn-radio="'on'" required>On</label>
		        <label class="btn btn-primary" name="environment" ng-model="currentApp.highAvailability.autoScalingEnabled" uib-btn-radio="'off'" required>Off</label>
		    </div>
		</div>
	</div>
</div>