
<h1>Add an app</h1>

<form name="appForm" ng-submit="submit(appForm.$valid)" novalidate>
	<div class="row">
		<div class="alert alert-info" data-ng-show="debug">
			<h4>Debug</h4>
			<div>
				<strong>App to add</strong><br/>
				{{ app }}
			</div><br/>
			<div>
				<strong>Stored apps</strong><br/>
				{{ storedApps }}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">App basics (required)</div>
				<div class="panel-body">
					<div class="form-group">
					  	<label for="appName">App name</label>
						<input type="text" id="appName" name="appName" class="form-control inline" data-ng-model="app.appName" required>
						<span ng-show="(appForm.$submitted || appForm.appName.$touched) && appForm.appName.$invalid" class="alert alert-danger" role="alert">
							<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							<span class="sr-only">Error:</span>
					    	<span ng-show="appForm.appName.$error.required">Please fill in an app name</span>
					    	<!-- TODO: Add custom validation to check app name is not already taken -->
					    </span>
					</div>
					<div class="form-group">
					    <label for="environment">Choose environment</label><br/>
					    <div class="btn-group">
					        <label class="btn btn-option" name="environment" ng-model="app.environment" uib-btn-radio="'LAMP'" required>LAMP</label>
					        <label class="btn btn-option" name="environment" ng-model="app.environment" uib-btn-radio="'NGINX'" required>NGINX</label>
					        <label class="btn btn-option" name="environment" ng-model="app.environment" uib-btn-radio="'ASPNET'" required>ASP.NET</label>
					    </div>
					    <span ng-show="(appForm.$submitted || appForm.environment.$touched) && appForm.environment.$invalid" class="alert alert-danger" role="alert">
							<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							<span class="sr-only">Error:</span>
					    	<span ng-show="appForm.environment.$error.required">Please select an environment</span>
					    </span>
				  	</div>
					<div class="form-group">
					    <label for="environmentType">Choose environment type</label><br/>
					    <div class="btn-group">
					        <label class="btn btn-option" name="environmentType" ng-model="app.environmentType" uib-btn-radio="'DEV'" required>Dev</label>
					        <label class="btn btn-option" name="environmentType" ng-model="app.environmentType" uib-btn-radio="'TEST'" required>Test</label>
					        <label class="btn btn-option" name="environmentType" ng-model="app.environmentType" uib-btn-radio="'PROD'" required>Prod</label>
					    </div>
					    <span ng-show="(appForm.$submitted || appForm.environmentType.$touched) && appForm.environmentType.$invalid" class="alert alert-danger" role="alert">
							<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							<span class="sr-only">Error:</span>
					    	<span ng-show="appForm.environmentType.$error.required">Please select an environment type</span>
					    </span>
					  </div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">Databases (optional)</div>
				<div class="panel-body">
					<div class="form-group">
					  	<label for="database">Choose database(s)</label><br/>
						<div class="btn-group">
					        <label class="btn btn-option" name="database" ng-model="app.database.SQLSERVER" uib-btn-checkbox>SQL Server</label>
					        <label class="btn btn-option" name="database" ng-model="app.database.MYSQL" uib-btn-checkbox>MySQL</label>
					        <label class="btn btn-option" name="database" ng-model="app.database.MONGODB" uib-btn-checkbox>MongoDB</label>
					    </div>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">Caching (optional)</div>
				<div class="panel-body">
					<div class="form-group">
					  	<label for="caching">Choose caching server</label><br/>
						<div class="btn-group">
					        <label class="btn btn-option" name="caching" ng-model="app.caching.provider" uib-btn-radio="'ELASTICACHE'">Elasticache</label>
					        <label class="btn btn-option" name="caching" ng-model="app.caching.provider" uib-btn-radio="'MEMCACHED'">Memcached</label>
					    </div>
					</div>
					<div class="form-group">
						<label for="cacheSize">Choose cache size</label><br/>
					  	<select id="cacheSize" name="cacheSize" class="form-control inline" data-ng-model="currentApp.caching.size" data-ng-required="app.caching.provider">
					  			<option value="">Please select</option>
					  			<option value="1GB">1GB</option>
					  			<option value="2GB">2GB</option>
					  			<option value="4GB">5GB</option>
					  	</select>
					  	<span ng-show="(appForm.$submitted || appForm.cacheSize.$touched) && appForm.cacheSize.$invalid" class="alert alert-danger" role="alert">
							<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							<span class="sr-only">Error:</span>
					    	<span ng-show="appForm.environment.$error.required">Please select a cache size</span>
					    </span>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">Source Code (optional)</div>
				<div class="panel-body">
					<div class="form-group">
					  	<label for="sourceCode">App source code will come from</label><br/>
						<div class="btn-group">
					        <label class="btn btn-option" name="sourceCode" ng-model="app.sourceCode.source" uib-btn-radio="'GIT'">GIT</label>
					        <label class="btn btn-option" name="sourceCode" ng-model="app.sourceCode.source" uib-btn-radio="'SVN'">SVN</label>
					         <label class="btn btn-option" name="sourceCode" ng-model="app.sourceCode.source" uib-btn-radio="'FILEUPLOAD'">File Upload</label>
					    </div>
					</div>
					<div class="form-group" data-ng-show="app.sourceCode.source === 'GIT'">
						<label for="githubRepo">Enter GitHub repo</label>
						<input type="text" id="githubRepo" name="githubRepo" class="form-control inline" data-ng-model="app.sourceCode.path" data-ng-required="app.sourceCode.source === 'GIT'">
						<span ng-show="(appForm.$submitted || appForm.sourceCode.$touched) && appForm.githubRepo.$invalid" class="alert alert-danger" role="alert">
							<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							<span class="sr-only">Error:</span>
					    	<span ng-show="appForm.githubRepo.$error.required">Please fill in a github repo</span>
					    </span>
					</div>
					<div class="form-group" data-ng-show="app.sourceCode.source === 'SVN'">
						<label for="svnRepo">Enter SVN repo</label>
						<p>Coming soon!</p>
					</div>
					<div class="form-group" data-ng-show="app.sourceCode.source === 'FILEUPLOAD'">
						<label for="fileUpload">Browse for file</label>
						<p>Coming soon!</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<button type="submit" class="btn btn-primary full-width">
				<i data-ng-show="processing" class="fa fa-spinner fa-pulse"></i>
        		Create my app
        	</button>
		</div>
	</div>
</form>
