<div class="row clearfix app-details-header">
	<div class="col-xs-12 no-padding">
		<ol class="breadcrumb">
		  <li>
		  	<a ui-sref="apps">
		  		<i class="fa fa-angle-double-left">&nbsp;All Apps</i>
		  	</a>
		  </li>
		  <li class="active"><span>{{ currentApp.appName }}</span></li>
		</ol>
	</div>
</div>

<div class="row clearfix app-details-container">
	<div class="app-details-menu no-padding col-xs-2" role="complementary" data-offset-top="40" bs-affix>
		<ul class="nav nav-pills nav-stacked">
		  	<li bs-scrollspy data-target="#deploy">
		  		<a href="" data-ng-click="scrolltoHref('deploy')">Deploy</a>
		  	</li>
		  	<li bs-scrollspy data-target="#infrastructure">
		  		<a href="" data-ng-click="scrolltoHref('infrastructure')">Infrastructure</a>
		  	</li>
		  	<li bs-scrollspy data-target="#running-costs">
		  		<a href="" data-ng-click="scrolltoHref('running-costs')">Running Costs</a>
		  	</li>
		  	<li bs-scrollspy data-target="#high-availability">
		  		<a href="" data-ng-click="scrolltoHref('high-availability')">High Availability</a>
		  	</li>
		  	<li bs-scrollspy data-target="#source-code">
		  		<a href="" data-ng-click="scrolltoHref('source-code')">Source Code</a>
		  	</li>
		  	<li bs-scrollspy data-target="#scripts">
		  		<a href="" data-ng-click="scrolltoHref('scripts')">Scripts</a>
		  	</li>
		  	<li bs-scrollspy data-target="#database">
		  		<a href="" data-ng-click="scrolltoHref('database')">Database</a>
		  	</li>
		  	<li bs-scrollspy data-target="#caching">
		  		<a href="" data-ng-click="scrolltoHref('caching')">Caching</a>
		  	</li>
		  	<li bs-scrollspy data-target="#app-settings">
		  		<a href="" data-ng-click="scrolltoHref('app-settings')">Basic App Settings</a>
		  	</li>
		</ul>
	</div>
	<div class="app-details-content col-xs-10">
	 	<div id="deploy" data-ng-include="'/views/app-detail/deploy.html'"></div>
	  	<div id="infrastructure" data-ng-include="'/views/app-detail/infrastructure.html'"></div>
	  	<div id="running-costs" data-ng-include="'/views/app-detail/running-costs.html'"></div>
		<div id="high-availability" data-ng-include="'/views/app-detail/availability.html'"></div>
		<div id="source-code" data-ng-include="'/views/app-detail/source-code.html'"></div>
		<div id="scripts" data-ng-include="'/views/app-detail/scripts.html'"></div>
		<div id="database" data-ng-include="'/views/app-detail/database.html'"></div>
		<div id="caching" data-ng-include="'/views/app-detail/caching.html'"></div>
		<div id="app-settings" data-ng-include="'/views/app-detail/app-settings.html'"></div>
	</div>
</div>