<div class="row">
	<div class="col-xs-12">
		<div>
			<a ui-sref="apps">&laquo; All Apps</a>
		</div>
		<h3>{{ currentApp.appName }}</h3>
		<h3>{{ currentApp.appId }}</h3>
	</div>
</div>

<div class="row clearfix app-details-container">
	<div class="app-details-menu col-xs-3" role="complementary" data-offset-top="70" bs-affix>
		<ul class="nav nav-pills nav-stacked">
		  	<li bs-scrollspy data-target="#deploy">
		  		<a href="" data-ng-click="scrolltoHref('deploy')">Deploy</a>
		  	</li>
		  	<li bs-scrollspy data-target="#infrastructure">
		  		<a href="" data-ng-click="scrolltoHref('infrastructure')">Infrastructure</a>
		  	</li>
		  	<li bs-scrollspy data-target="#running-costs">
		  		<a href="" data-ng-click="scrolltoHref('running-costs')">Running Costs</a>
		  	</li>
		  	<li bs-scrollspy data-target="#high-availability">
		  		<a href="" data-ng-click="scrolltoHref('high-availability')">High Availability Settings</a>
		  	</li>
		  	<li bs-scrollspy data-target="#source-code">
		  		<a href="" data-ng-click="scrolltoHref('source-code')">Source Code</a>
		  	</li>
		  	<li bs-scrollspy data-target="#scripts">
		  		<a href="" data-ng-click="scrolltoHref('scripts')">Scripts</a>
		  	</li>
		  	<li bs-scrollspy data-target="#database">
		  		<a href="" data-ng-click="scrolltoHref('database')">Database</a>
		  	</li>
		  	<li bs-scrollspy data-target="#caching">
		  		<a href="" data-ng-click="scrolltoHref('caching')">Caching</a>
		  	</li>
		  	<li bs-scrollspy data-target="#app-settings">
		  		<a href="" data-ng-click="scrolltoHref('app-settings')">App Settings</a>
		  	</li>
		</ul>
	</div>
	<div class="app-details-content col-xs-9">
	 	<div id="deploy">
		  	<div class="panel panel-default full-width">
				<div class="panel-heading clearfix">
					<h4 class="pull-left">Deploy</h4>
					<button class="btn btn-secondary pull-right" data-ng-show="!editModes.deploy" data-ng-click="toggleEditMode('deploy')">
						Edit
					</button>
					<button class="btn btn-secondary pull-right" data-ng-show="editModes.deploy" data-ng-click="toggleEditMode('deploy')">
						Cancel
					</button>
					<button class="btn btn-primary pull-right" data-ng-show="editModes.deploy" data-ng-click="saveApp('deploy')">
						Save changes
					</button>
				</div>
				<div class="panel-body">
					<div class="form-group">
					  	<label for="cloudProvider">Deploy to:</label>
					  	<span data-ng-hide="editModes.deploy" data-ng-cloak>
					  		{{ currentApp.cloud.provider || 'None selected' }}
					  	</span>
					  	<div data-ng-show="editModes.deploy" data-ng-cloak>
						    <div class="btn-group">
						        <label class="btn btn-option" name="cloudProvider" ng-model="currentApp.cloud.provider" uib-btn-radio="'AWS'" required>AWS</label>
						        <label class="btn btn-option" name="cloudProvider" ng-model="currentApp.cloud.provider" uib-btn-radio="'Azure'" required>Azure</label>
						        <label class="btn btn-option" name="cloudProvider" ng-model="currentApp.cloud.provider" uib-btn-radio="'Google'" required>Google</label>
						    </div>
						</div>
					</div>
					<div class="form-group">
					  	<label for="cloudRegion">Region:</label>
					  	<span data-ng-show="!editModes.deploy" data-ng-cloak>
					  		{{ currentApp.cloud.region || 'None selected' }}
					  	</span>
					  	<div data-ng-show="editModes.deploy" data-ng-cloak>
						  	<select id="cloudRegion" name="cloudRegion" class="form-control inline" data-ng-model="currentApp.cloud.region" >
						  			<option value="">Please select</option>
						  			<option value="asia">Asia</option>
						  			<option value="europe">Europe</option>
						  			<option value="north-america">North America</option>
						  	</select>
					  </div>
					</div>
					<div class="form-group">
					  	<label for="cloudRegion">Instance Size:</label>
					  	<span data-ng-hide="editModes.deploy" data-ng-cloak>
					  		{{ currentApp.cloud.instanceSize || 'None selected' }}
					  	</span>
					  	<div data-ng-show="editModes.deploy" data-ng-cloak>
						  	<select id="instanceSize" name="instanceSize" class="form-control inline" data-ng-model="currentApp.cloud.instanceSize">
						  			<option value="">Please select</option>
						  			<option value="10GB">10GB</option>
						  			<option value="20GB">20GB</option>
						  			<option value="50GB">50GB</option>
						  	</select>
						  </div>
					</div>
					
					<button class="btn btn-primary" data-ng-enabled="currentApp.cloud.provider">Deploy now</button>
				</div>
			</div>
	  	</div>
	  	<div id="infrastructure">
	  		<div class="panel panel-default">
				<div class="panel-heading clearfix">
					<h4 class="pull-left">Infrastructure</h4>
					<button class="btn btn-secondary pull-right" data-ng-show="!editModes.infrastructure" data-ng-click="toggleEditMode('infrastructure')">
						Edit
					</button>
					<button class="btn btn-secondary pull-right" data-ng-show="editModes.infrastructure" data-ng-click="toggleEditMode('infrastructure')">
						Cancel
					</button>
					<button class="btn btn-primary pull-right" data-ng-show="editModes.infrastructure" data-ng-click="saveApp('infrastructure')">
						Save changes
					</button>
				</div>
				<div class="panel-body">
					<div class="form-group">
					  	<label for="os">Operating System</label>
					  	<span data-ng-hide="editModes.infrastructure" data-ng-cloak>
					  		{{ currentApp.os.name || 'None selected' }}
					  	</span>
					  	<div data-ng-show="editModes.infrastructure" data-ng-cloak>
						    <select id="os" name="os" class="form-control inline" data-ng-model="currentApp.os.name">
						    	<option value="">Please select</option>
					  			<option value="Redhat">Redhat</option>
					  			<option value="Ubuntu">Ubuntu</option>
					  			<option value="Windows">Windows</option>
						    </select>
						</div>
					</div>
				</div>
			</div>
		</div>
	  	<div id="running-costs">
	  		<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Running Costs</h4>
				</div>
				<div class="panel-body"></div>
			</div>
		</div>
		<div id="high-availability">
	  		<div class="panel panel-default">
				<div class="panel-heading clearfix">
					<h4 class="pull-left">High Availability Settings</h4>
					<button class="btn btn-secondary pull-right" data-ng-show="!editModes.availability" data-ng-click="toggleEditMode('availability')">
						Edit
					</button>
					<button class="btn btn-secondary pull-right" data-ng-show="editModes.availability" data-ng-click="toggleEditMode('availability')">
						Cancel
					</button>
					<button class="btn btn-primary pull-right" data-ng-show="editModes.availability" data-ng-click="saveApp('availability')">
						Save changes
					</button>
				</div>
				<div class="panel-body">
					<label for="loadBalancing">Load Balancing</label>
					<span data-ng-hide="editModes.availability" data-ng-cloak>
					  	{{ currentApp.highAvailability.loadBalancingEnabled || 'Not selected' }}
					</span>	
					<div data-ng-show="editModes.availability" data-ng-cloak>
						<div class="btn-group">
					        <label class="btn btn-primary" name="environment" ng-model="currentApp.highAvailability.loadBalancingEnabled" uib-btn-radio="'on'" required>On</label>
					        <label class="btn btn-primary" name="environment" ng-model="currentApp.highAvailability.loadBalancingEnabled" uib-btn-radio="'off'" required>Off</label>
					    </div>
					</div>
					<br/>
					<label for="loadBalancing">Autoscaling</label>
					<span data-ng-hide="editModes.availability" data-ng-cloak>
					  	{{ currentApp.highAvailability.autoScalingEnabled || 'Not selected' }}
					</span>	
					<div data-ng-show="editModes.availability" data-ng-cloak>
						<div class="btn-group">
					        <label class="btn btn-primary" name="environment" ng-model="currentApp.highAvailability.autoScalingEnabled" uib-btn-radio="'on'" required>On</label>
					        <label class="btn btn-primary" name="environment" ng-model="currentApp.highAvailability.autoScalingEnabled" uib-btn-radio="'off'" required>Off</label>
					    </div>
					</div>
				</div>
			</div>
		</div>
		<div id="source-code">
	  		<div class="panel panel-default">
				<div class="panel-heading clearfix">
					<h4 class="pull-left">Source Code</h4>
					<button class="btn btn-secondary pull-right data-ng-cloak" data-ng-show="!editModes.sourceCode" data-ng-click="toggleEditMode('sourceCode')">Edit</button>
					<div class="btn-group pull-right" data-ng-show="editModes.sourceCode" data-ng-cloak>
						<button class="btn btn-primary" data-ng-click="saveApp('sourceCode')">
							Save changes
						</button>
						<button class="btn btn-secondary" data-ng-click="toggleEditMode('sourceCode')">
							Cancel
						</button>
					</div>
				</div>
				<div class="panel-body">
					<label for="source">Source</label>
					<span data-ng-hide="editModes.sourceCode" data-ng-cloak>
					  	{{ currentApp.sourceCode.source || 'Not selected' }}
					</span>	
					<div data-ng-show="editModes.sourceCode" data-ng-cloak>
						<div class="btn-group">
					        <label class="btn btn-option" name="sourceCode" ng-model="currentApp.sourceCode.source" uib-btn-radio="'GIT'">GIT</label>
					        <label class="btn btn-option" name="sourceCode" ng-model="currentApp.sourceCode.source" uib-btn-radio="'SVN'">SVN</label>
					         <label class="btn btn-option" name="sourceCode" ng-model="currentApp.sourceCode.source" uib-btn-radio="'FILEUPLOAD'">File Upload</label>
					    </div>
					</div>
					<div data-ng-show="currentApp.sourceCode.source === 'GIT'">
						<div class="form-group">
							<label for="githubRepo">GitHub repo</label>
							<span data-ng-hide="editModes.sourceCode" data-ng-cloak>
							  	{{ currentApp.sourceCode.path || 'Not selected' }}
							</span>	
							<div data-ng-show="editModes.sourceCode" data-ng-cloak>
								<input type="text" id="githubRepo" name="githubRepo" class="form-control inline" data-ng-model="currentApp.sourceCode.path" data-ng-required="currentApp.sourceCode.source === 'GIT'">
								<!--<span ng-show="(appForm.$submitted || appForm.sourceCode.$touched) && appForm.githubRepo.$invalid" class="alert alert-danger" role="alert">
									<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
									<span class="sr-only">Error:</span>
							    	<span ng-show="appForm.githubRepo.$error.required">Please fill in a github repo</span>
							    </span>-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="scripts">
	  		<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Scripts</h4>
				</div>
				<div class="panel-body"></div>
			</div>
		</div>
		<div id="database">
	  		<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Database</h4>
				</div>
				<div class="panel-body"></div>
			</div>
		</div>
		<div id="caching">
	  		<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Caching</h4>
				</div>
				<div class="panel-body"></div>
			</div>
		</div>
		<div id="app-settings">
	  		<div class="panel panel-default">
				<div class="panel-heading clearfix">
					<h4 class="pull-left">Basic App Settings</h4>
					<div class="pull-right">
						<button class="btn btn-secondary" data-ng-show="!editModes.basicSettings" data-ng-click="toggleEditMode('basicSettings')" data-ng-cloak>Edit</button>
						<div class="btn-group" data-ng-show="editModes.basicSettings" data-ng-cloak>
							<button class="btn btn-primary" data-ng-click="saveApp('basicSettings')">
								Save changes
							</button>
							<button class="btn btn-secondary" data-ng-click="toggleEditMode('basicSettings')">
								Cancel
							</button>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label for="appName">App name</label>
						<span data-ng-hide="editModes.basicSettings" data-ng-cloak>
						  	{{ currentApp.appName }}
						</span>
					  	<span data-ng-show="editModes.basicSettings" data-ng-cloak>
							<input type="text" id="appName" name="appName" class="form-control inline" data-ng-model="currentApp.appName" required>
						</span>
					</div>
					<div class="form-group">
						<label for="environment">Choose environment</label>
					    <span data-ng-hide="editModes.basicSettings" data-ng-cloak>
						  	{{ currentApp.environment }}
						</span>
						<br/>
					    <div class="btn-group" data-ng-show="editModes.basicSettings" data-ng-cloak>
					        <label class="btn btn-option" name="environment" ng-model="currentApp.environment" uib-btn-radio="'LAMP'" required>LAMP</label>
					        <label class="btn btn-option" name="environment" ng-model="currentApp.environment" uib-btn-radio="'NGINX'" required>NGINX</label>
					        <label class="btn btn-option" name="environment" ng-model="currentApp.environment" uib-btn-radio="'ASPNET'" required>ASP.NET</label>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>