
<h1>View apps</h1>

<div class="row">
	<div class="alert alert-info" data-ng-show="debug">
		<h4>Debug</h4>
		<div>
			<strong>Stored apps</strong><br/>
			{{ storedApps }}
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="app-list">
			<div class="header-row">
		    	<div class="appName">App Name</div>
		    	<div class="status">Status</div>
		    	<div class="cloudProvider">Cloud Provider</div>
		    	<div class="actions"></div>
		  	</div>
		  	<div class="content-row" data-ng-repeat="app in storedApps">
		  		<div class="appName">
		  			<a ui-sref="apps.detail({ id: app.appId })">{{ app.appName }}</a>
		  		</div>
		    	<div class="status">{{ app.status }}</div>
		    	<div class="cloudProvider">{{ app.cloudProvider }}</div>
		    	<div class="actions">
		    		<button class="btn btn-primary">
		    			<span>{{ app.status == 'Running' ? 'Stop' : 'Run' }}</span>
		    		</button>
		    		<button class="btn btn-primary">Delete</button>
		    	</div>
		  	</div>
		</div>
	</div>
</div>
<div class="detail" ui-view></div>


